// Color Variable section
    $primary-color: #010101;
    $secendory-color: #313841;
    $bg-color1: #fcdb00;
    $bg-color2: #ffffff;

// Font size Variable section

$title: 32px;
$sub-title: 22px;
$para: 20px;

// Font Family
 $main-font: 'Poppins';
 $sub-font: sans-serif;
 

 //Transition Variable
 $transition : all 0.5s linear;